

/* Universal selector / All elements on the page */
* {
    font-family: 'Patrick Hand', cursive;
   
}

/* Sets the background color of the page */
body {
    background-color: #ffffff;
}

.banner-picture {
    padding: 5%;
    align-content: center;
}

.navbar {
    padding: 20px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #47b7f0;
    background-attachment: fixed;
    color: #ffffff;
}

/* h1 Descendant Selector */
.navbar h1 {
    display: inline;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.navbar nav {
    float: right;
    display: inline-flex;
}

.nav {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
}

.left-section {
    margin-left: 10%;
    width: 15%;
    font-size: 200%;
    border-right: 2px solid #47b7f0;
    height: 150px;
    display: inline-flex;
    padding: 1.5%;
    color: #47b7f0;
    padding: 100px 30px;
}

.right-section {
  width: 60%;
  margin: 2%;
  flex-wrap: wrap;
  padding: 0.1%;
  display: inline-flexbox;
}


.display {
    display: inline-flex;
    flex-wrap: wrap;
}



.card {
    flex: 1 0 0;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    flex-wrap: wrap;
    border-color: #ffffff;
    align-items: center;
  }

  .upcoming {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2px;
    width: 175px;
    align-items: center;
  }

  .recent {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 350px;
    display: inline-flex;
  }

  .imgcontact {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2px;
    width: 50px;
  }
  
  img:hover {
    box-shadow: 0 0 12px 1px rgba(0, 140, 186, 0.5);
    background-color: #47b7f0;
  }

  .overlay {
    bottom: 0; 
    color:#47b7f0; 
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    text-align: center;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }

  .project-name {
    text-decoration: none;
  }

footer {
    text-align: center;
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 60px 40px;
    }

    .navbar nav {   
        width: 200px;
        justify-content: space-around;
        
      }

    h1.left-section.display {
        align-content: center;
    }
    
    .left-section {
        border-right: none;
        border-bottom: 2px solid #47b7f0;
        padding-bottom: 0%;
        margin-bottom: 0%;
        min-width: max-content;
    }
  }